@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/bootstrap";
@import "_swiper.min.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@media (min-width: 1280px) {
  .col-xl-9 {
    flex: 0 0 100%;
    max-width: 87%;
  }
}
// 共用區
:root {
  --yellow: #ffe30a;
  --blue: #40bcd2;
}
::selection {
  background: var(--blue);
  color: white;
}
body {
  animation: fadein 1s;
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
.noscroll {
  overflow: hidden;
  height: 100%;
}
.noscroll-x {
  overflow-x: hidden;
}
.pointer {
  cursor: pointer;
}
.bk {
  filter: grayscale(1);
}

* {
  font-family: "Noto Sans TC", "Microsoft JhengHei", "微軟正黑體", sans-serif;
  letter-spacing: 0.08rem;
}
.container {
  padding-right: 30px;
  padding-left: 30px;
  max-width: 1280px;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;

  &:hover,
  &:active {
    text-decoration: none;
    color: black;
  }
  &.blue-link {
    color: var(--blue) !important;
  }
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
p {
  text-align: justify !important;
}

.text-blue {
  color: #408beb;
}

.text-dblue {
  color: var(--blue);
}

.text-orange {
  color: var(--yellow);
}

.text-green {
  color: #009257;
}
header {
  background-color: var(--blue);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  backdrop-filter: blur(15px);
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .search-bar {
    position: fixed;
    top: -100%;
    opacity: 0;
    width: 100%;
    z-index: 9;
    @include media-breakpoint-down(md) {
      z-index: -1;
    }
    transition: 0.2s;
    background-color: var(--blue);
    padding: 2rem 30px;
    img {
      height: 2rem;
    }
    .search-box {
      form {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      border-radius: 0.8rem;
      input {
        border: 0;
        outline: 0;
        width: calc(90% - 35px);
        display: inline-block;
        font-size: 1rem;
        height: 2rem;
        &::placeholder {
          padding: 0;
          margin: 0;
        }
      }
      button {
        border: 0;
        width: 28px;
        height: 28px;
        background-color: transparent;
        background-image: url(../../Content/img/icon-SVG/search.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 26px;
        display: inline-block;
      }
    }

    &.active {
      top: 0;
      opacity: 1;
      transition: 0.2s;
    }
  }
  .menu-close {
    cursor: pointer;
  }

  .logo {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 3.5rem;
  }

  .menu-icon {
    height: 2.5rem;
    padding: 0.5rem;
  }
  #menu-toggle {
    cursor: pointer;
    &.active {
      span {
        &:first-child {
          opacity: 0;
          margin-bottom: 0rem;
        }
        &:nth-child(2) {
          transform: rotate(45deg);
          margin-bottom: 0rem;
          &::after {
            background-color: var(--yellow);
            width: 2rem;
            height: 3px;
            border-radius: 99rem;
            display: block;
            transform: rotate(-90deg);
            content: "";
          }
        }
        &:last-child {
          opacity: 0;
        }
      }
    }
    span {
      background-color: var(--yellow);
      width: 2rem;
      height: 3px;
      display: block;
      margin-bottom: 7px;
      border-radius: 99rem;
      transition: 0.3s;

      &:last-child {
        margin-bottom: 0rem;
      }
    }
  }
  #search-toggle {
    cursor: pointer;
  }

  .menu {
    & > ul {
      & > li {
        display: inline-block;
        position: relative;
        &:hover {
          & > ul {
            transition: 0.5s;
            opacity: 1;
            visibility: visible;
            top: 65px;
            @include media-breakpoint-down(lg) {
              top: 45px;
            }
          }
        }
        & > ul {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          top: 85px;
          left: 50%;
          margin-left: -96px;
          width: 192px;
          display: flex;
          flex-direction: column;
          background-color: white;
          border-radius: 0.5rem;
          padding: 0.5rem 0;
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
          li {
            a {
              padding: 0.5rem 0;
              display: block;
              &:hover {
                color: var(--blue) !important;
              }
            }
          }
          &:before {
            content: "";
            display: block;
            border-color: transparent transparent rgb(250, 250, 250) transparent;
            border-style: solid;
            border-width: 10px;
            position: absolute;
            top: -20px;
            left: 50%;
            margin-left: -10px;
          }
        }
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      justify-content: space-around;
      align-items: center;
      font-weight: 300;
      text-align: center;
      display: flex;
      .li {
        cursor: pointer;
        text-align: center;
      }

      a {
        text-decoration: none;
        transition: 0.3s;

        &:hover {
          color: var(--yellow) !important;
        }
      }

      img {
        max-width: 26px;
        filter: invert(1);
      }

      .role {
        background-color: var(--yellow);

        a {
          color: black;
          padding-left: 1rem;
          padding-right: 1rem;

          &:hover {
            color: var(--blue) !important;
          }
        }
      }
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
    &.show {
      display: block;
      right: 0;
      animation: menu-show 0.5s;
      transform: translateY(0);
      opacity: 1;
      @keyframes menu-show {
        0% {
          transform: translateY(1vh);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }
      ul.m-menu {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
        justify-content: start;
        align-items: flex-start;
        position: relative;
        padding-bottom: 45vh;
        li {
          width: 100%;
          text-align: left;
          font-weight: 500;
          padding: 0 1.5rem;
          border-top: 1px solid white;

          a {
            display: block;
            padding: 10px 0;
            font-size: 1.2rem;
            text-align: left;

            &.dropmenu {
              background-image: url(../../Content/img/icon-SVG/plus.svg);
              background-position: center right;
              background-repeat: no-repeat;
              background-size: 36px;
              &.show {
                background-image: url(../../Content/img/icon-SVG/arrow.svg);
              }
            }
          }
          ul {
            display: none;

            &:before {
              display: none;
            }
            li {
              padding: 0 1.5rem;
              border-color: rgb(192, 192, 192);
              a {
                padding: 10px 5px;
                display: block;
                background: none;
                &:hover {
                  color: var(--blue) !important;
                }
              }
            }
            &.show {
              display: block;
              opacity: 1;
              animation: menu-show 0.5s;
              visibility: visible;
              position: relative;
              top: 0;
              left: 0;
              margin-left: 0;
              width: calc(100% + 60px);
              background-color: var(--yellow);
              border-radius: 0;
              padding: 0;
              box-shadow: none;
              margin: 0 -30px 0 -30px;
              height: unset !important;
            }
          }
        }
        .m-search-bar {
          padding: 0 1.5rem;
          form {
            width: 100%;
            padding: 0;
            margin: 0;
            position: relative;
            display: flex;
            justify-content: space-between;
          }
          input {
            border: 0;
            outline: 0;
            margin: 0;
            padding: 0;
            margin: 10px 0;
            // border: 1px solid blue;
            width: 70%;
            box-sizing: border-box !important;
            &::placeholder {
              font-size: 1.2rem;
              font-weight: normal;
              font-weight: 500;
            }
          }
          button {
            border: 0;
            background: none;
            opacity: 0.3;
            width: 30px;
            background-image: url(../../Content/img/icon-SVG/search.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 30px;

            img {
              filter: invert(0);
              width: 100%;
            }
          }
        }

        .m-social {
          a {
            background-image: none !important;
            padding: 0;

            img {
              max-width: 36px !important;
            }
          }
        }
      }
    }
  }

  .menu {
    // only for iPad Horizontal
    a {
      @include media-breakpoint-only(lg) {
        font-size: 0.9rem;
        font-weight: 400;
      }
    }
  }
}
.desktop {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
.mobile {
  @include media-breakpoint-down(sm) {
    display: block;
  }
  display: none;
}
.swiper-pagination-bullet {
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
  &.swiper-pagination-bullet-active {
    background: var(--yellow) !important;
  }
  &:last-child {
    margin-right: 0px;
  }
}
.fixed-box {
  position: fixed;
  bottom: 5%;
  padding-bottom: 1rem;
  @include media-breakpoint-down(md) {
    &.normal-page {
      position: sticky;
      margin-left: calc(100% - 99px);
    }
  }
  right: 0;
  z-index: 11;
  animation: boxin 1s;
  @keyframes boxin {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    50% {
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .content {
    width: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .top {
      position: absolute;
      top: -20px;
      z-index: 2;
      img {
        max-width: 100%;
        filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
      }
    }

    .bottom {
      width: 68px;
      background-color: var(--yellow);
      border-radius: 0 0 10px 10px;
      box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.5);
      padding: 32px 0px 12px 0px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      &::after {
        border: solid transparent;
        content: " ";
        height: 0;
        bottom: 95%;
        position: absolute;
        width: 0;
        border-width: 6px;
        border-color: var(--yellow);
        right: 14px;
      }

      .circle {
        width: 56px;
        height: 56px;
        font-size: 1rem;
        line-height: 1.2rem;
        border-radius: 99rem;
        background-color: white;
        text-align: center;
        margin: 4px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        box-shadow: inset 0 0 0 0 transparent;
        &:hover {
          box-shadow: inset 0 0 1rem 0 var(--yellow);
        }

        &.blue {
          background-color: var(--blue);
          color: white;
        }
      }
    }
  }
}

.banner {
  margin-top: 72px;
  @include media-breakpoint-only(lg) {
    // only for iPad Horizontal
    margin-top: 68px;
  }
  @include media-breakpoint-down(md) {
    margin-top: 52px;
  }
  span {
    position: absolute;
    left: 30%;
    top: 10%;
    font-size: 64px;
    color: white;
    @include media-breakpoint-down(md) {
      left: 16%;
      top: 8%;
      font-size: 36px;
    }
  }
  img {
    width: 100%;
  }
  position: relative;
}

.breadcrumb {
  background-color: white;
  .breadcrumb-item {
    &:last-child {
      &::before {
        color: var(--blue) !important;
      }
    }
  }
}

.list-page {
  .list-item {
    .list-item-unit-box {
      font-size: 95%;
      @include media-breakpoint-down(lg) {
        font-size: 100%;
      }
      .icon {
        width: 48px;
        height: 48px;
        border-radius: 99rem;
        background-color: var(--blue);
        padding: 0 12px;
        margin-right: 1rem;

        img {
          filter: invert(1);
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }

      span {
        padding-right: 0.3rem;
        @include media-breakpoint-down(lg) {
          font-weight: 500;
        }

        &.unit {
          color: var(--blue);
          font-weight: 500;
        }

        &.io {
          &::before {
            content: "-";
          }
        }
      }
    }
    .list-content {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 500;
      a {
        display: block;
        width: 100%;
      }
      @include media-breakpoint-down(lg) {
        font-size: 150%;
        font-weight: 300;
      }
    }
    .read-more {
      color: #ccc;
      font-weight: 500;
      display: block;
      width: 100%;
      text-align: right;

      @include media-breakpoint-down(lg) {
        font-size: 150%;
        font-weight: 300;
      }
      @include media-breakpoint-down(sm) {
        font-size: 100%;
      }
    }
  }

  .pagination {
    li.page-item {
      padding: 0 0.1rem;

      &.active {
        .page-link {
          background-color: var(--yellow);
          border-color: var(--yellow);
        }
      }

      .page-link {
        border-radius: 0.2rem;
        color: black;
      }
    }
  }
}

.page-title {
  border-color: var(--blue) !important;
  h1 {
    // @include media-breakpoint-down(lg) {
    //   font-size: 1.6rem;
    //   font-weight: normal;
    // }
  }
  h2 {
    @include media-breakpoint-down(lg) {
      font-size: 1.3rem;
      font-weight: normal;
    }
  }
}

.page-title-gray {
  border-color: #d9d9d9 !important;
  text-align: justify;

  h1 {
    @include media-breakpoint-down(lg) {
      font-size: 1.5rem;
      font-weight: normal;
    }
  }
  h2 {
    @include media-breakpoint-down(lg) {
      font-size: 1.2rem;
      font-weight: normal;
    }
  }
}

.select-group {
  span {
    padding: 0 0.5rem 0 0rem;
    color: var(--blue);
  }

  .select-item {
    border: 1px solid var(--blue);
    width: calc(100% - 3rem);
    padding: 5px 10px;
    background-image: url(../../Content/img/icon-SVG/select-item-line.png);
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 12px;

    select {
      height: 100%;
      width: calc(100% - 0px);
      border-radius: 0 !important;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      position: relative;
      border: transparent;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      outline: none;
      background: none;
    }
  }
}

.editor-content {
  .icon {
    width: 32px !important;
    height: 32px !important;
    padding: 0 8px !important;
  }

  .editor {
    h2 {
      color: var(--blue);
      margin: 1.5rem 0;
      font-weight: normal;
    }

    a {
      color: var(--blue);
      text-decoration: underline;
    }
  }

  .file-download {
    display: block;
    width: 100%;
    margin: 0.5rem 0;

    img {
      width: 32px;
      margin-right: 1rem;
    }

    a {
      color: var(--blue);
      text-decoration: underline;
    }
  }
}
.share {
  justify-content: start;

  div {
    color: var(--blue);
    cursor: pointer;

    img {
      height: 24px;
    }

    &.social-share {
      display: none;
    }
  }
}

.modal-content {
  border-radius: 0.5rem;
  line-height: 2rem;
  .close {
    color: var(--yellow);
  }
  h6 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.2rem;
  }
}

footer {
  background-color: var(--blue);
  background-image: url(../../Content/img/footer-bg.png);
  background-position: top center;
  background-repeat: no-repeat;
  line-height: 150%;
  img.logo {
    width: 100%;
    @include media-breakpoint-down(md) {
      width: 75%;
    }
  }

  .footer-icon {
    img {
      max-width: 32px;
      filter: invert(1);
    }
  }
}
// 共用區
// 首頁
.index-slider {
  margin-top: 72px;
  @include media-breakpoint-down(lg) {
    margin-top: 52px;
  }
  .swiper-container {
    width: 100%;
    height: auto;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;

    img {
      width: 100%;
    }
  }
}

.main {
  &.top {
    background-image: url(../../Content/img/BIRD.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @include media-breakpoint-down(md) {
      background-position: left;
    }
  }
  .bottom {
    @include media-breakpoint-down(md) {
      background-color: white;
    }
  }

  p {
    font-size: 18px;
  }
  .index-why-choice {
    @include media-breakpoint-down(lg) {
      p {
        text-align: justify !important;
      }
    }
  }

  .index-why-slider {
    .swiper-container {
      width: 100%;
      height: auto;
    }
    .swiper-pagination {
      opacity: 0;
      display: flex;
      justify-content: center;
      bottom: 0;
      @include media-breakpoint-down(sm) {
        opacity: 1;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      @include media-breakpoint-down(sm) {
        filter: grayscale(1);
        opacity: 0.1;
      }

      opacity: 0;
    }

    .swiper-wrapper {
      display: flex;
      justify-content: space-between;

      .swiper-slide {
        text-align: center;
        font-size: 18px;

        img {
          height: 256px;
        }
      }
    }
  }

  .index-topic {
    .topic-content {
      position: relative;

      &:hover .hover-content {
        opacity: 1;
      }

      a {
        text-decoration: none;
        color: black;
      }

      .hover-content {
        position: absolute;
        width: 100%;
        @include media-breakpoint-down(md) {
          width: calc(100% - 30px);
          h4 {
            font-size: 130%;
          }
          p {
            font-size: 100%;
          }
        }

        height: 100%;
        background-color: #ffe20a7e;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: 0.3s;
      }
    }
  }
}
// 首頁

//about
.about {
  @include media-breakpoint-down(lg) {
    width: 100vw;
    margin-left: -30px;
    margin-right: -30px;
    overflow-x: hidden;
  }
  h3 {
    font-size: 32px;
    font-weight: normal;
    line-height: 200%;
    @include media-breakpoint-down(md) {
      font-size: 24px;
      font-weight: normal;
      line-height: 150%;
    }
  }
  .idea {
    position: absolute;
    bottom: -10%;
    width: 60%;
    left: 68%;
    animation: idea 3s infinite;
    @keyframes idea {
      0% {
        opacity: 0.5;
        transform: scale(1);
      }
      50% {
        opacity: 1;
        transform: scale(1.1);
      }
      100% {
        opacity: 0.5;
        transform: scale(1);
      }
    }
    @include media-breakpoint-down(md) {
      top: 40%;
      width: 58%;
      left: 56%;
    }
  }

  .earth {
    position: absolute;
    width: 40%;
    animation: earth 60s infinite linear;
    @keyframes earth {
      0% {
        transform: translateY(0) rotate(0deg);
      }
      50% {
        transform: translateY(5px) rotate(180deg);
      }
      100% {
        transform: translateY(0) rotate(360deg);
      }
    }
    @include media-breakpoint-down(md) {
      left: 10%;
      width: 45%;
    }
  }
  .book {
    position: absolute;
    left: 190%;
    top: 1%;
    width: 45%;
    animation: book 3s infinite;
    @keyframes book {
      0% {
        transform: rotate(0) translateY(0);
      }
      50% {
        transform: rotate(-1deg) translateY(-10px);
      }
      100% {
        transform: rotate(0) translateY(0);
      }
    }
    @include media-breakpoint-down(md) {
      left: -13%;
      top: 87%;
      width: 33%;
    }
  }
  .books {
    @include media-breakpoint-down(md) {
      margin-top: 15%;
      width: 78%;
      margin-left: 8%;
    }
    animation: books 3s infinite;
    @keyframes books {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(10px);
      }
      100% {
        transform: translateY(0);
      }
    }
  }
  ul {
    margin-left: -1rem;
  }
}

.abbg {
  @include media-breakpoint-down(lg) {
    overflow-x: hidden;
  }
  img {
    // opacity: 0.6;
  }

  position: relative;
  margin-top: 1rem;
  width: 100%;
  padding-bottom: 89.5%;
  // background-image: url(/Content/img/about/000.png);
  // background-position: top;
  // background-size: contain;
  // background-repeat: no-repeat;
  // border: 1px solid red;

  @include media-breakpoint-down(sm) {
    // background-image: url(/Content/img/about/000m.png);
    // background-position: top;
    // background-size: 100%;
    // background-repeat: no-repeat;
    // border: 1px solid red;
    margin-left: -30px;
    margin-right: -30px;
    width: 100vw;
    padding-bottom: 170vw;
  }

  .abText1,
  .abText2,
  .abText3,
  .abText4 {
    table {
      width: 100%;
    }
    font-size: 180%;
    @include media-breakpoint-down(lg) {
      font-size: 150%;
    }
    @include media-breakpoint-down(md) {
      font-size: 115%;
    }
    @include media-breakpoint-down(sm) {
      font-size: 140%;
    }
    @include media-breakpoint-down(xs) {
      font-size: 95%;
    }
    position: absolute;
    z-index: 1;
    table {
      td {
        line-height: 1.3;
        word-break: keep-all;
        &:nth-child(2) {
          padding-left: 10px;
        }
      }
    }
  }
  .abText1 {
    left: 4%;
    top: 27%;
    @include media-breakpoint-down(sm) {
      left: 8%;
      top: 31%;
    }
  }

  .abText2 {
    left: 4%;
    top: 76%;
    @include media-breakpoint-down(sm) {
      left: 9%;
      top: 62%;
    }
  }
  .abText3 {
    top: 39%;
    left: 58%;
    table {
      font-size: 95%;
    }

    @include media-breakpoint-down(sm) {
      top: 80%;
      left: 60%;
      table {
        font-size: unset;
      }
    }
  }
  .abText4 {
    left: 44%;
    top: 76%;
    @include media-breakpoint-down(sm) {
      left: 9%;
      top: 78%;
    }
  }
  .gbook {
    position: absolute;
    top: 6.5%;
    left: 3%;
    width: 24%;
    animation: gbook 6s infinite;
    @include media-breakpoint-down(sm) {
      top: 5%;
      left: 4%;
      width: 45%;
    }
    @keyframes gbook {
      0% {
      }
      50% {
        transform: scale(1.05) translateY(-5px);
      }
      100% {
      }
    }
  }
  .bird {
    position: absolute;
    top: 33%;
    left: 4%;
    width: 50%;
    animation: bird 3s infinite;
    @include media-breakpoint-down(sm) {
      top: 41%;
      left: -39%;
      width: 70%;
    }
    @keyframes bird {
      0% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(5px);
      }
      100% {
        transform: translateY(0px);
      }
    }
  }

  .lion {
    position: absolute;
    top: 1%;
    left: 35%;
    width: 65%;
    animation: lion 3s infinite;
    @include media-breakpoint-down(sm) {
      top: 6.5%;
      left: 28%;
      width: 70%;
    }
    @keyframes lion {
      0% {
      }
      50% {
        transform: translateY(2px) scale(0.992);
      }
      100% {
      }
    }
  }

  .groupbg {
    position: absolute;
    top: 15%;
    left: -2%;
    width: 97%;
    animation: groupbg 6s infinite;
    @include media-breakpoint-down(sm) {
      top: 23%;
      left: 0%;
      width: 100%;
    }
    @keyframes groupbg {
      0% {
      }
      50% {
        transform: scale(1.01) rotate(-1deg);
      }
      100% {
      }
    }
  }

  .tree {
    position: absolute;
    right: 21%;
    top: 48%;
    width: 24%;
    animation: tree 2s infinite;
    @include media-breakpoint-down(sm) {
      right: 33%;
      top: 64%;
      width: 43%;
    }
    @keyframes tree {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.01);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}
.environment-list {
  border: 0;
  .nav {
    display: flex;
    @include media-breakpoint-down(sm) {
    }
    .nav-item {
      width: calc(98% / 14);
      margin-right: calc(2% / 13);
      margin-bottom: calc(2% / 13);
      &:nth-child(14n) {
        margin-right: 0;
      }
      &.disable {
        filter: grayscale(1);
      }

      @include media-breakpoint-down(sm) {
        width: calc(95% / 5);
        margin-right: calc(5% / 4);
        margin-bottom: calc(5% / 4);
        &:nth-child(5n) {
          margin-right: 0;
        }
      }
      text-align: center;
      padding: 0.5rem 0;
      background-color: var(--blue);
      color: white;

      &.active,
      &:hover {
        background-color: var(--yellow);
        color: black;
      }
    }
  }
  .swiper-container {
    .swiper-slide {
      img {
        width: 100%;
      }
      h4 {
        @include media-breakpoint-down(sm) {
          text-align: center;
          font-size: 1rem;
        }
      }
    }
  }
  .control {
    margin-top: -1.8rem;
    @include media-breakpoint-down(sm) {
      text-align: center;
      margin-top: 1rem;
    }
    .swiper-pagination {
      position: static;
      display: flex;
      justify-content: flex-end;
      @include media-breakpoint-down(sm) {
        justify-content: center;
      }
    }
  }
}
.intro {
  background-image: url(../../Content/img/intro/intro-bg.png);
  background-size: cover;
  // background-image: url(../../Content/img/intro/desktop.png);
  // background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  height: 50vw;
  position: relative;
  width: 100%;
  overflow: hidden;
  @include media-breakpoint-down(md) {
    background-image: url(../../Content/img/intro/intro-bg.png);
    background-size: cover;
    // background-image: url(../../Content/img/intro/mobile.png);
    // background-size: contain;
    min-height: 222.2vw;
  }
  .Aquarius {
    position: absolute;
    left: 41%;
    bottom: 5%;
    width: 11.5%;
    @include media-breakpoint-down(md) {
      left: 34%;
      bottom: 18%;
      width: 13.5%;
    }
  }
  .Planet {
    position: absolute;
    left: 1%;
    bottom: 0%;
    width: 36%;
    animation: intro-wave 50s infinite;
    @keyframes intro-wave {
      0% {
      }
      50% {
        transform: scale(1.05);
      }
      100% {
      }
    }
    @include media-breakpoint-down(md) {
      left: -4%;
      bottom: 22%;
      width: 58%;
    }
  }
  .wave {
    position: absolute;
    bottom: -17%;
    width: 56%;
    left: 0;
    animation: intro-wave 5.2145s infinite;
    @keyframes intro-wave {
      0% {
      }
      50% {
        transform: translateX(-30px) scale(1.02);
      }
      100% {
      }
    }
    @include media-breakpoint-down(md) {
      bottom: 15%;
      width: 83%;
      left: -34%;
    }
  }
  .bird {
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 47%;
    animation: intro-bird 3.2145s infinite;
    @keyframes intro-bird {
      0% {
      }
      50% {
        transform: translateX(-10px) scale(1.02);
      }
      100% {
      }
    }
    @include media-breakpoint-down(md) {
      left: 15%;
      bottom: 7.5%;
      width: 82%;
    }
  }
  .sun {
    position: absolute;
    left: 37.5%;
    top: -25%;
    width: 27.5%;
    @include media-breakpoint-down(md) {
      left: 11%;
      top: -17%;
      width: 81%;
    }
  }
  .book {
    position: absolute;
    right: 18%;
    bottom: -13.5%;
    width: 19%;
    animation: intro-book 3.835s infinite;
    @keyframes intro-book {
      0% {
      }
      50% {
        transform: rotate(-8.12458deg) scale(1.02);
      }
      100% {
      }
    }
    @include media-breakpoint-down(md) {
      right: 29%;
      bottom: 43.5%;
      width: 17%;
    }
  }
  .bool {
    position: absolute;
    right: 6%;
    bottom: -4%;
    width: 15.5%;
    animation: intro-bool 2.835s infinite;
    @keyframes intro-bool {
      0% {
      }
      50% {
        transform: rotate(5deg) scale(1.02);
      }
      100% {
      }
    }
    @include media-breakpoint-down(md) {
      right: 2%;
      bottom: 48%;
      width: 18.5%;
      z-index: 1;
    }
  }
  .lion {
    position: absolute;
    left: -10%;
    bottom: -6%;
    width: 42%;
    animation: intro-lion 2.835s infinite;
    @keyframes intro-lion {
      0% {
      }
      50% {
        transform: translateY(-10px) translateX(-10px) scale(1.02);
      }
      100% {
      }
    }
    @include media-breakpoint-down(md) {
      left: -32%;
      bottom: 18%;
      width: 80%;
    }
  }
  .STAR {
    position: absolute;
    right: -2%;
    top: -13%;
    width: 36%;
    animation: intro-STAR 3.2145s infinite;
    @keyframes intro-STAR {
      0% {
      }
      50% {
        transform: translateY(-10px) scale(1.02);
      }
      100% {
      }
    }
    @include media-breakpoint-down(md) {
      right: -11%;
      top: 49.5%;
      width: 69%;
    }
  }
  .content {
    width: calc(100% / 3);
    padding-top: 11%;
    z-index: 999;
    @include media-breakpoint-down(md) {
      width: calc(100% / 1);
      padding-top: 33%;
      padding-left: 40px;
      padding-right: 40px;
    }
    .item {
      .logo {
        width: calc(100% / 3);
        // border: 1px solid red;
        @include media-breakpoint-down(md) {
          width: 38%;
        }
      }
      &:last-child {
        font-size: 80%;
        padding-bottom: 0%;
        &::after {
          content: "";
          display: inline-block;
          width: 100%;
        }
      }
      &.top {
        padding-bottom: 6%;
        @include media-breakpoint-down(md) {
          padding-bottom: 11%;
        }
      }
      &.bottom {
        font-size: 0.8rem;
        padding-top: 12%;
        text-align: center;
        @include media-breakpoint-down(md) {
          padding-top: 134.5%;
          font-size: 0.5rem;
        }
      }
    }
  }
}

select.custom-select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url("../img/icon-SVG/select-item-line.png") no-repeat scroll right
    10px center transparent;
  background-size: 12px 12px;
  background-color: transparent;
  border: 1px solid #969696;
  border-radius: 5px;
  color: #969696;
  padding: 0.3rem 1rem;
  outline: none;
  padding-right: 30px;
  overflow: hidden;
  &:focus {
    box-shadow: 0 0 1px 2px var(--blue);
  }
}

input.custom-input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid #969696;
  border-radius: 0;
  color: #000;
  padding: 0.3rem 0rem;
  outline: none;
  &:focus {
    border-bottom: 1px solid var(--blue);
    box-shadow: 0 1px 0 0 var(--blue);
  }
  &::placeholder {
    font-size: 0.875rem;
  }
  &.check-ok {
    background-image: url("../img/icon-SVG/Check.png") !important;
    background-repeat: no-repeat;
    background-position: center right 10px;
  }
}
textarea.custom-textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  // background-color: #eceef0;
  background-color: white;
  // border: transparent;
  border-radius: 5px;
  color: #969696;
  padding: 0.3rem 1rem;
  outline: none;
  &:focus {
    box-shadow: 0 0 1px 1px var(--blue);
    border-color: var(--blue);
  }
  &::placeholder {
    font-size: 0.875rem;
  }
  &.line-style {
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid #eceef0;
    &:focus {
      border-bottom: 1px solid var(--blue);
      box-shadow: 0 1px 0 0 var(--blue);
    }
  }
}

.a-next {
  display: block;
  background-color: var(--blue);
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 24px;
  border-radius: 5px;
  padding: 0.3rem;

  &:hover {
    color: white;
    opacity: 0.9;
  }
}
button.a-next {
  display: block;
  background-color: var(--blue);
  border: none;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 24px;
  border-radius: 5px;
  padding: 0.3rem;
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;

  &:hover {
    color: white;
    opacity: 0.9;
  }
}

.text-primary {
  color: var(--blue) !important;
}

.nowrap {
  white-space: nowrap;
}

iframe {
  border: 3px solid #f5f5f5;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .enroll-map {
    content: url("../img/enroll/map-r.png");
  }

  iframe {
    border: 3px solid transparent;
  }
}
.features {
  .teacher-name {
    display: flex;
    justify-content: start;
    align-items: center;
    .ball {
      font-size: 0.75rem;
      line-height: 32px;
      border: 1px solid var(--blue);
      color: white;
      background-color: var(--blue);
      border-radius: 99rem;
      width: 32px;
      font-weight: 900;
      display: flex;
      justify-content: center;
      margin-right: 0.5rem;
    }
  }
  table {
    margin-top: 1rem;
    td {
      vertical-align: top;
      text-align: justify;
      padding: 0.25rem 0;
    }
  }

 
  .features-slider {
    .swiper-slide {
      img {
        width: 100%;
      }
    
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 15px;
    height: 75px;
    background-image: url("../img/features/nav.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    &::after {
      display: none;
    }
  }
  .swiper-button-next {
    right: -15px !important;
    @include media-breakpoint-down(sm) {
      right: -10px !important;
    }
  }
  .swiper-button-prev {
    transform: rotate(180deg);
    left: -15px !important;
    @include media-breakpoint-down(sm) {
      left: -10px !important;
    }
  }
  
  .curriculum {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("../img/features/curriculum-bg-left.png"),
      url("../img/features/curriculum-bg-right.png");
    background-repeat: no-repeat;
    background-position: left bottom, right bottom;
    background-size: contain;
    min-height: 50vh;
    .chat {
      display: flex;
      justify-content: space-between;
      width: 50%;
      @media (max-width: 319.99px) {
        width: 70%;
      }

      &.chat-color-a {
        background-color: #ededed;
      }
      &.chat-color-b {
        background-color: #fffbe0;
      }
      &.chat-color-c {
        background-color: #cff8ff;
      }
      border: 2px solid white;
      border-radius: 0.5rem;

      @include media-breakpoint-down(md) {
        width: 100%;
      }
      .box {
        padding: 0.5rem 1rem;
        width: 100%;
        @include media-breakpoint-down(xs) {
          font-size: 90%;
        }
        @media (max-width: 374.99px) {
          font-size: 78%;
          width: 100%;
        }
        &:first-child {
          width: 70%;
          @media (max-width: 413.99px) {
            width: 100%;
          }
        }
        &:last-child {
          width: 30%;
          @media (max-width: 413.99px) {
            width: 100%;
          }
        }
      }
    }
  }
}
.swiper-slide{
  h6 {
    margin-top: 1rem;
    max-width: 60%;
    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }
  }
}
.control {
  width: 100%;
  justify-content: end;
  margin-top: -15px;
  position: relative;
  z-index: 9;
  @include media-breakpoint-down(sm) {
    margin-top: unset;
  }
  .swiper-pagination {
    position: static;
    display: flex;
    justify-content: flex-end;
    @include media-breakpoint-down(sm) {
      justify-content: center;
    }
  }
}
.border-sin {
  border: 1px solid gainsboro;
  border-radius: 15px;
  margin: 0 0 3rem 0 !important;
  position: relative;
  .blank-box {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }
  .title {
    width: calc(100% - 3rem);
  }
  .io-box {
    background-color: var(--yellow);
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    cursor: pointer;

    &::after {
      content: "▼";
      font-size: 0.6rem;
      transform: rotate(180deg);
      filter: invert(0);
      transition: 0.3s;
    }
    &.collapsed {
      background-color: var(--blue);
      &::after {
        content: "＋";
        font-size: 0.8rem;
        transform: rotate(360deg);
        transition: 0.3s;
        filter: invert(1);
      }
    }
  }

  .triangle {
    margin-bottom: calc(-1.5rem - 21px);
    width: 100%;

    text-align: center;
    img {
      width: 24px;
    }
  }
  &.blue-bg {
    background-color: var(--blue);
  }
}
.custom-checkbox {
  position: relative;
  input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  input + label {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    span {
      display: inline-block;
      width: 1.5rem !important;
      height: 1.5rem !important;
      margin: 0 0.8rem 0 0;
      padding: 0 0.35rem;
      cursor: pointer;
      border-radius: 0.3rem;
      background-color: #eee;
      background-position: center;
      background-image: url("../img/enroll/check-it-black.svg");
      background-size: 0%;
      background-repeat: no-repeat;
      transition: 0.3s;
      &::after {
        content: "滿";
        color: rgba(0, 0, 0, 0);
        font-size: 0.8rem;
        font-weight: bold;
      }
    }
  }

  input:disabled + label {
    span {
      background-color: var(--yellow);
      text-align: center;
      &::after {
        content: "滿";
        color: black;
        font-size: 0.8rem;
        font-weight: bold;
      }
    }
  }

  input:checked + label span {
    background-size: 100%;
  }
}
.min-w-150px {
  min-width: 150px !important;
}
